@import "./themes//dark";
@import "./themes//light";
@import "./themes//blue";
@import "./variables/global";
@import "reset";

body,
.app_modal,
.app_drawer {
    font: var(--font-m);
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 12px;             /* ширина scrollbar */
}

*::-webkit-scrollbar-track {
    background: var(--bg-card);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    background-color: white;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 2px solid var(--primary-color);  /* padding вокруг плашки */
}
