.loginForm {
    display: flex;
    flex-direction: column;
}

.loginInputs {
    margin-top: 20px !important;
    color: yellow;
}

.loginBtn {
    margin-top: 10px;
    margin-left: auto;
    color: rgb(38 171 42);
}
