:root {
    --font-family-main: consolas, "Times New Roman", serif;
    --font-size-m: 20px;
    --font-line-m: 24px;
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-m: var(--font-family-main) var(--font-size-m) / var(--font-line-m);
    --font-l: var(--font-family-main) var(--font-size-l) / var(--font-line-l);

    // размеры
    --navbar-height: 50px;

    // sidebar
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;
    --primary-color: #049604;

    // z-индексы

    --modal-z-index: 10;

    // цвета
    --overlay-bg-color: rgb(0 0 0 / 60%);

    // errors
    --error-font-color: red;

    
}
