.title {
    color: var(--inverted-bg-color);
}

.text {
    color: var(--secondary-color);
}

.error {
    .title {
        color: var(--error-font-color);
    }

    .text {
        color: var(--error-font-color);
    }
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.small {
    font-size: 20px;
}

.medium {
    font-size: 24px;
}

.large {
    font-size: 36px;
}
