.title {
    color: var(--inverted-bg-color);
}

.text {
    color: var(--secondary-color);
}

.error {
    .title {
        color: var(--error-font-color);
    }

    .text {
        color: var(--error-font-color);
    }
}

.inverted {
    .title {
        color: var(--bg-color);
    }

    .text {
        color: var(--inverted-bg-color);
    }
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.small {
    .title {
        font-size: 20px;
    }

    .text {
        font-size: 16px;
    }
}

.medium {
    .title {
        font-size: 28px;
    }

    .text {
        font-size: 24px;
    }
}

.large {
    .title {
        font-size: 36px;
    }

    .text {
        font-size: 24px;
    }
}
