.ArticleDetails {
    min-height: 100%;
}

.Avatar {
    margin: 0 auto;
}

.Title {
    margin-top: 20px;
}

.Skeleton {
    margin-top: 15px;
}

.ArticleInfo {
    display: flex;
    align-items: center;
}

.icons {
    margin-right: 8px;
}

.AvatarWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}


.block {
    margin-top: 16px;
}
