.popup {
    position: relative;
}

.active {
    background: rgb(green 0.2);
}

.optionsBottomLeft {
    top: 100%;
    right: 100%;
}

.optionsBottomRight {
    top: 100%;
    left: 100%;
}

.optionsTopLeft {
    bottom: 100%;
    left: 0;
}

.optionsTopRight {
    bottom: 100%;
    right: 0;
}

.trigger {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
}
