* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgb(22 156 67 / 33.3%));
}

.box .loader {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: animate-loading 2s linear infinite;
}

.box .loader:nth-child(2),
.box .loader:nth-child(4) {
    animation-delay: -1s;
    filter: hue-rotate(290deg);
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.box .loader:nth-child(1)::before,
.box .loader:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgb(6 165 30 / 50%));
    background-size: 100px 180px;
    background-repeat: no-repeat;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.container .loader i {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: #23b95f;
    border-radius: 50%;
    box-shadow:
        0 0 10px hsl(94deg 82% 48%),
        0 0 20px hsl(94deg 82% 48%),
        0 0 30px hsl(94deg 82% 48%),
        0 0 40px hsl(94deg 82% 48%),
        0 0 50px hsl(94deg 82% 48%),
        0 0 60px hsl(94deg 82% 48%),
        0 0 70px hsl(94deg 82% 48%),
        0 0 80px hsl(94deg 82% 48%),
        0 0 90px hsl(94deg 82% 48%),
        0 0 100px hsl(94deg 82% 48%);
    z-index: 10;
}

.box .loader span {
    position: absolute;
    inset: 20px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
}

.medium {
    .loader {
        width: 80px;
        height: 80px;
    }
}
