.app_blue_theme {
    --bg-color: #334977;
    --inverted-bg-color: #f4f6fb;
    --primary-color: #265459;
    --secondary-color: #f4f6fb;
    --primary-font-color: rgb(22 27 5);
    --secondary-font-color: white;
}
