.app_blue_theme {
    --bg-color: #334977;
    --inverted-bg-color: #F4F6FB;
    --primary-color: #265459;
    --secondary-color:#F4F6FB;
    --primary-font-color: rgb(22 27 5);
    --secondary-font-color: white;
}