.app.dark {
    --bg-color: rgb(9 31 21);
    --inverted-bg-color: rgb(221 239 201);
    --primary-color: #032903cd;
    --secondary-color: lightgreen;
    --primary-font-color: rgb(22 27 5);
    --secondary-font-color: grey;
}
