.app.dark {
    --bg-color: #27d427;
    --inverted-bg-color: pink;
    --primary-color: #049604;
    --secondary-color: lightgreen;
    --primary-font-color: red;
    --secondary-font-color: grey;
}
