.app.light {
    --bg-color: pink;
    --inverted-bg-color: #0e0e75;
    --primary-color: red;
    --secondary-color: grey;
    --primary-font-color: #049604;
    --secondary-font-color: lightgreen;
}