.app_light_theme {
    --bg-color: rgb(221 239 201);
    --inverted-bg-color: rgb(9 31 21);
    --primary-color: lightgreen;
    --secondary-color: #032903cd;
    --primary-font-color: #d8d7ee;
    --secondary-font-color: rgb(8 8 9);
    --skeleton-color: #ababca;
    --skeleton-shadow: #a0a0c8;

    // code background
    --code-bg: rgb(223 238 205);

    // article-cards
    --bg-card: rgb(95 126 59);
}
