.CommentItem {
    padding: 10px;
    border: 1px solid var(--primary-color);
}

.CommentItemHeader {
    display: flex;
    & img, div {
        margin-right: 10px;
    }
    align-items: center;

}
.CommentItemText {
    margin-top: 10px;
}