.sortWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
}

.tabs {
    margin-top: 16px;
    margin-bottom: 20px;
    margin-left: 20px;
}
