.commentTitle {
    margin-bottom: 20px;
}

.recommendations .ArticleListItem {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    overflow-y: auto;
    overflow-x: auto;
}

// .ArticleDetailsPage {
//     width: 71%;
//     overflow-y: auto;
//     overflow-x: hidden
// }
