.AppButton {
    cursor: pointer;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    color: var(--inverted-bg-color);
}
.outline {
    border: 2px solid var(--primary-color);
    color: var(--inverted-bg-color);
    padding: 15px;
    background: none;
}
