.ProfilePageHeader {
    display: flex;
    color: var(--inverted-bg-color);
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
}

.ProfileCardEditBtn {
    margin-left: auto;
    margin-right: 10px;
}

.btnWrapper {
    margin-left: auto;
}
