.ProjectCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.ProfileCardHeader {
    display: flex;
}

.ProfileCardEditBtn {
    margin-left: auto;
}

.ProfileData {
    margin-top: 30px;
}

.ProfileCardInput {
    margin-top: 10px;
}
