.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
    color: var(--inverted-bg-color);
}

.ProfileData {
    color: var(--inverted-bg-color);
}


.loading .error {
    height: 600px;
}

.ageInputAlarm {
    size: 20px;
    color: red;
}

.ProfileAvatar {
    height: 200px;
}



.editing {
    border: 3px solid red;
}
